<h1>Contact</h1>
<!-- Usando FormsModule: formulario de tipo plantilla -->
<form [formGroup]="contactForm" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name"
      [ngClass]="{'is-invalid': hasErrors('name','required') || hasErrors('name','minlength')}">
    <div *ngIf="hasErrors('name','required')" class="text-danger">Nombre es requerido</div>
    <div *ngIf="hasErrors('name','minlength')" class="text-danger">Nombre requiere mínimo 3 caracteres</div>
  </div>
  <div class="mb-3">
    <label for="familyName" class="form-label">Apellido *</label>
    <input type="text" class="form-control" id="familyName" formControlName="familyName"
      [ngClass]="{'is-invalid': hasErrors('familyName','required') || hasErrors('familyName','minlength')}">
    <div *ngIf="hasErrors('familyName','required')" class="text-danger">Apellido es requerido</div>
    <div *ngIf="hasErrors('familyName','minlength')" class="text-danger">Apellido requiere mínimo 3 caracteres</div>
  </div>
  <div class="mb-3">
    <label for="tipoDni" class="form-label">Tipo DNI *</label>
    <select class="form-select" id="tipoDni" formControlName="tipoDni"
      [ngClass]="{'is-invalid': hasErrors('tipoDni','required')}">
      <option selected></option>
      <option value="DNI">DNI</option>
      <option value="Pasaporte">Pasaporte</option>
      <option value="Cedula">Cedula</option>
    </select>
    <div *ngIf="hasErrors('tipoDni','required')" class="text-danger">Tipo de DNI es requerido</div>
  </div>
  <div *ngIf="tipoDni" class="mb-3">
    <dni-input [tipoDni]="tipoDni" (dniEvent)="getDni($event)" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email *</label>
    <input type="email" class="form-control" id="email" formControlName="email"
      [ngClass]="{'is-invalid': hasErrors('email','email') || hasErrors('email', 'required')}">
    <div *ngIf="hasErrors('email', 'required')" class="text-danger">Mail es requerido</div>
    <div *ngIf="hasErrors('email', 'email')" class="text-danger">Mail formato invalido</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
</form>