<nav class="navbar navbar-expand-sm bg-dark border-bottom border-body sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"> <b>{{ title }}</b> {{ sutitle }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home</a>
        <a class="nav-link" routerLink="product" routerLinkActive="active">Product</a>
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
  </div>
</nav>

<body class="container-fluid mt-3 mb-3">
  <p class="text-end font-monospace">{{ fecha | date: 'dd/MM/yyyy HH:mm' }}</p>
  <router-outlet></router-outlet>
</body>