<!-- appEstiloHermanos: es directiva -->
<h3 appEstiloHermanos>{{'Componente padre' | miPipePersonalizado}}</h3>
<!-- date: es un pepline que viene incluido con Angular -->
<p>Contador: <b>{{ valorContador }}</b></p>
<section class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-outline-primary" (click)="incrementar()">Incrementar +1</button>
  <button type="button" class="btn btn-outline-primary" (click)="decrementar()">Decrementar -1</button>
</section>

<br><br>
<button type="button" class="btn btn-primary btn-sm" (click)="enviarMensaje = true">Enviar mensaje al
  hijo</button>

<br><br>
<p>Nombre del hermnao grande: <b>{{hermanoGrande}}</b></p>
<section class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-primary" (click)="saludar()">saludar</button>
  <button type="button" class="btn btn-outline-primary" (click)="preguntar()">Preguntar por hijo</button>
</section>

<app-hijo *ngIf="enviarMensaje" [mensajeRecibido]="mensajePadre" (mensajeEvent)="getMensaje($event)"
  (incrementarEvent)="incrementar()" (decrementarEvent)="decrementar()" />

<p *ngIf="mensajeHijo" class="mt-2">Mensaje recibido desde el padre: <b>{{ mensajeHijo }}</b></p>